__macosx
backup/
$RECYCLE.BIN/
temp/
tmp/

.*
!/.gitignore

/\#ModRelease/\#ModRelease-Github-Key.txt

*.bak
*.bat
*.exe
*.tmp

*.7z
*.rar
*.zip
*.tar*

*.iemod

.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
.apdisk
ehthumbs.db
Thumbs.db